[*.cs]

# CS8602: Desreferencia de una referencia posiblemente NULL.
dotnet_diagnostic.CS8602.severity = warning

# IDE0055: Fijar formato
dotnet_diagnostic.IDE0055.severity = suggestion

# CS8603: Posible tipo de valor devuelto de referencia nulo
dotnet_diagnostic.CS8603.severity = silent
